@model IEnumerable<Forum.Models.Postagem>

<style>
    body {
        background-color: #FFFFEE;
    }
    .postagem-container {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #f9f9f9;
        margin-bottom: 9px;
    }

    .postagem-resposta {
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 10px;
    }

    .info-container {
        flex: 1;
        margin-right: 10px;
    }

    .small-info {
        font-size: smaller;
        margin: 0;
    }
</style>

<h2>@ViewData["Title"]</h2>

@foreach (var item in Model)
{
    <hr style="width: 100%;" />

    <div class="postagem-container">
        <div class="info-container">
            <p class="small-info">@item.DataPublicacao | TopicoId: @item.TopicoId | ID: @item.Id</p>
            <h3>@item.Titulo</h3>
        </div>
        <div class="info-container">
            <br><br>
            <p>@item.TextArea</p>
        </div>
    </div>
   

    <div>
        <ul>
            @if (item.Respostas != null && item.Respostas.Any())
            {
                foreach (var resposta in item.Respostas)
                {
                    <div style="background-color: #F0E0D6;" class="postagem-container">
                    <p class="small-info">ID: @resposta.Id </p>
                        @if(resposta.RespostaId != null)
                        {
                            <p class="small-info"><a>>>>@resposta.RespostaId </a> </p>
                        }
                        <div style="margin-bottom: 5px;">
                            <p>@resposta.TextArea</p>
                        </div>
            </div>
                }
            }
            else
            {
        <li>Nenhuma resposta disponível.</li>
            }
            </ul>
        </div>
}
